In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

In [3]:
wd = pd.read_excel("C:\\Users\\Administrator\\Desktop\\world econonmic indicators dataset\\WorldBank.xlsx")
wd.head(4)

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
0,Afghanistan,AFG,South Asia,Low income,2018,NaN,NaN,NaN,1.936300e+10,520.897,NaN,47.9,NaN,56.9378,1.542
1,Afghanistan,AFG,South Asia,Low income,2017,33.211,6.575,NaN,2.019180e+10,556.302,13.50,49.5,64.130,55.5960,1.559
2,Afghanistan,AFG,South Asia,Low income,2016,33.981,6.742,NaN,1.936260e+10,547.228,11.20,51.2,63.763,54.1971,1.634
3,Afghanistan,AFG,South Asia,Low income,2015,34.809,6.929,NaN,1.990710e+10,578.466,8.26,53.1,63.377,52.7121,1.679

In [5]:
hd = pd.read_csv("C:\\Users\\Administrator\\Desktop\\world econonmic indicators dataset\\HDI.csv")
hd.head(3)

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96

In [7]:
hd.columns[:4]

Index(['iso3', 'country', 'hdicode', 'region'], dtype='object')

In [9]:
hdi = pd.melt(hd, id_vars=hd.columns[:4], var_name='Hdi year', value_name='Index')

In [11]:
hdi.head()

  iso3               country    hdicode region       Hdi year  Index
0  AFG           Afghanistan        Low     SA  hdi_rank_2021  180.0
1  AGO                Angola     Medium    SSA  hdi_rank_2021  148.0
2  ALB               Albania       High    ECA  hdi_rank_2021   67.0
3  AND               Andorra  Very High    NaN  hdi_rank_2021   40.0
4  ARE  United Arab Emirates  Very High     AS  hdi_rank_2021   26.0

In [13]:
hdi["hdicode"] = hdi["hdicode"].fillna("Blank")
hdi["region"] = hdi["region"].fillna("Blank")
hdi["Index"] = hdi["Index"].fillna(0)

In [15]:
hdi.isna().sum()

iso3        0
country     0
hdicode     0
region      0
Hdi year    0
Index       0
dtype: int64

In [17]:
wd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12449 entries, 0 to 12448
Data columns (total 15 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  12449 non-null  object
 1   Country Code                                                  12449 non-null  object
 2   Region                                                        12449 non-null  object
 3   IncomeGroup                                                   12449 non-null  object
 4   Year                                                          12449 non-null  int64
 5   Birth rate, crude (per 1,000 people)                          11440 non-null  float64
 6   Death rate, crude (per 1,000 people)                          11416 non-null  float64
 7   Electric power consumption (kWh per capita)                   5848 non-null   float64
 8   GDP (USD)                                                     9578 non-null   float64
 9   GDP per capita (USD)                                          9575 non-null   float64
 10  Individuals using the Internet (% of population)              5064 non-null   float64
 11  Infant mortality rate (per 1,000 live births)                 9984 non-null   float64
 12  Life expectancy at birth (years)                              11176 non-null  float64
 13  Population density (people per sq. km of land area)           11845 non-null  float64
 14  Unemployment (% of total labor force) (modeled ILO estimate)  5208 non-null   float64
dtypes: float64(10), int64(1), object(4)
memory usage: 1.4+ MB

In [19]:
for i in wd.dtypes[wd.dtypes == 'float64'].index.tolist():
    wd[i] = wd[i].fillna(0)

In [21]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206824 entries, 0 to 206823
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   iso3      206824 non-null  object
 1   country   206824 non-null  object
 2   hdicode   206824 non-null  object
 3   region    206824 non-null  object
 4   Hdi year  206824 non-null  object
 5   Index     206824 non-null  float64
dtypes: float64(1), object(5)
memory usage: 9.5+ MB

In [44]:
# merge
final_df = pd.merge(hdi,wd, left_on="iso3", right_on="Country Code")
final_df

,iso3,country,hdicode,region,Hdi year,Index,Country Name,Country Code,Region,IncomeGroup,...,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
0,AFG,Afghanistan,Low,SA,hdi_rank_2021,180.00,Afghanistan,AFG,South Asia,Low income,...,0.000,0.000,0.0,1.936300e+10,520.897,0.00,47.9,0.000,56.9378,1.542
1,AFG,Afghanistan,Low,SA,hdi_rank_2021,180.00,Afghanistan,AFG,South Asia,Low income,...,33.211,6.575,0.0,2.019180e+10,556.302,13.50,49.5,64.130,55.5960,1.559
2,AFG,Afghanistan,Low,SA,hdi_rank_2021,180.00,Afghanistan,AFG,South Asia,Low income,...,33.981,6.742,0.0,1.936260e+10,547.228,11.20,51.2,63.763,54.1971,1.634
3,AFG,Afghanistan,Low,SA,hdi_rank_2021,180.00,Afghanistan,AFG,South Asia,Low income,...,34.809,6.929,0.0,1.990710e+10,578.466,8.26,53.1,63.377,52.7121,1.679
4,AFG,Afghanistan,Low,SA,hdi_rank_2021,180.00,Afghanistan,AFG,South Asia,Low income,...,35.706,7.141,0.0,2.048490e+10,613.856,7.00,55.1,62.966,51.1148,1.735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11373307,ZWE,Zimbabwe,Medium,SSA,mf_2021,1.21,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,...,47.770,13.083,0.0,1.217138e+09,281.558,0.00,83.2,54.849,11.1745,0.000
11373308,ZWE,Zimbabwe,Medium,SSA,mf_2021,1.21,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,...,47.876,13.419,0.0,1.159512e+09,277.480,0.00,85.7,54.403,10.8019,0.000
11373309,ZWE,Zimbabwe,Medium,SSA,mf_2021,1.21,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,...,47.950,13.762,0.0,1.117602e+09,276.689,0.00,88.1,53.946,10.4413,0.000
11373310,ZWE,Zimbabwe,Medium,SSA,mf_2021,1.21,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,...,47.988,14.104,0.0,1.096647e+09,280.829,0.00,90.5,53.483,10.0944,0.000
11373311,ZWE,Zimbabwe,Medium,SSA,mf_2021,1.21,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,...,47.996,14.441,0.0,1.052990e+09,278.814,0.00,92.8,53.019,0.0000,0.000

In [88]:
final_df["country"].nunique()

192

# EDA

In [68]:
country_birth_rate = final_df.groupby("country")["Birth rate, crude (per 1,000 people)"].sum().sort_values(ascending=False)[:10]
fig = px.bar(country_birth_rate, title="Birth rate, crude (per 1,000 people) by country")
fig.show(renderer="iframe")

In [69]:
country_death_rate = final_df.groupby("country")["Death rate, crude (per 1,000 people)"].sum().sort_values(ascending=False)[:10]
fig = px.bar(country_death_rate, title="Death rate, crude (per 1,000 people) by country")
fig.show(renderer="iframe")

In [72]:
country_unemploy = final_df.groupby("country")["Unemployment (% of total labor force) (modeled ILO estimate)"].sum().sort_values(ascending=False)[:10]
fig = px.bar(country_unemploy, title="Unemployment (% of total labor force) (modeled ILO estimate) by country")
fig.show(renderer="iframe")

In [90]:
import pandas as pd
import plotly.graph_objects as go


years = sorted(final_df['Year'].unique())
fig = go.Figure()

# Create a trace for each year
for i, year in enumerate(years):
    top_artists = final_df[final_df["Year"] == year].groupby("country")["Unemployment (% of total labor force) (modeled ILO estimate)"].sum().sort_values(ascending=False)[:10]

    fig.add_trace(go.Bar(
        x=top_artists.index,
        y=top_artists.values,
        name=str(year),
        visible=(i == 0)  # Show only the first year initially
    ))

# Create buttons for dropdown
buttons = [
    dict(label=str(year),
         method="update",
         args=[{"visible": [j == i for j in range(len(years))]},
               {"title": f"Top Artists in {year}"}])
    for i, year in enumerate(years)
]

# Update layout with dropdown
fig.update_layout(
    updatemenus=[dict(
        active=0,
        buttons=buttons,
        x=0.1,
        y=1.2
    )],
    title="Top Artists by Year",
    xaxis_title="Artist Name",
    yaxis_title="Count",
    showlegend=False
)

fig.show(renderer='iframe')

In [92]:
import pandas as pd
import plotly.graph_objects as go


years = sorted(final_df['Year'].unique())
fig = go.Figure()

# Create a trace for each year
for i, year in enumerate(years):
    top_artists = final_df[final_df["Year"] == year].groupby("country")["GDP (USD)"].sum().sort_values(ascending=False)[182:]

    fig.add_trace(go.Bar(
        x=top_artists.index,
        y=top_artists.values,
        name=str(year),
        visible=(i == 0)  # Show only the first year initially
    ))

# Create buttons for dropdown
buttons = [
    dict(label=str(year),
         method="update",
         args=[{"visible": [j == i for j in range(len(years))]},
               {"title": f"Top Artists in {year}"}])
    for i, year in enumerate(years)
]

# Update layout with dropdown
fig.update_layout(
    updatemenus=[dict(
        active=0,
        buttons=buttons,
        x=0.1,
        y=1.2
    )],
    title="Top Artists by Year",
    xaxis_title="Artist Name",
    yaxis_title="Count",
    showlegend=False
)

fig.show(renderer='iframe')